.unity-button {
    padding: 5px;
    display: flex;
    overflow: hidden;
    font-size: 12px;
    color: white;
    background-color: transparent;
    border-width: 2px;
    border-radius: 18px;
    border-color: white;
    margin: 5px 12px;
    cursor: link;
    -unity-font-style: bold;
}

.unity-button-primary {
    border-color: #E93392;
}
/* .unity-button:hover {
    background-color: rgba(255,255,255,0.1);
} */
/* .unity-button:active {
    background-color: rgba(255,255,255,0.3);
} */