.unity-progress-bar{
    margin: 5px 12px;
    border-radius: 10px;
}
.unity-progress-bar__background{
    padding: 12px;
    background-color: #333333;
    padding-bottom: 14px;
    border-radius: 10px;
    overflow: hidden;
}
.unity-progress-bar__progress{
    background-color: #29A2A6;
}
.unity-progress-bar>.unity-label {
    margin: 0;
}
.unity-progress-bar__title{
    overflow: auto;
}